EIF_PORT=8080
EIF_LOG_LEVEL=info
EIF_LOG_FORMAT=json
EIF_STATIC_DIR=./web/static
EIF_CORS_ALLOWED_ORIGINS=http://localhost:3000

EIF_HDDT_GDT_ENDPOINT=https://hoadondientu.gdt.gov.vn
EIF_HDDT_GDT_TIMEOUT=60s
EIF_HDDT_GDT_MAX_QUERY_DAYS=31
EIF_HDDT_GDT_MAX_EXPORT_DAYS=31
EIF_SESSION_EXPIRY_SKEW=30s
